.page-not-found {
  height: 400px;
  margin-top: 100px;
  text-align: center;
}

.btn-back {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.btn-back:hover {
  background-color: rgb(185, 255, 232);
  font-weight: bold;
}